body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  height: 110vh;
}

.container {
  width: 100%;
  max-width: 90vw;
  padding: 5px;
}

.blue-btn {
  width: fit-content;;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 8px;
  font-size: 0.8em;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 10px;
}

.blue-btn a {
  text-decoration: none;
  color: white;
}

.profile-pic {
  width: 55px;
  height: 50px;
  border-radius: 15%;
}

.profile-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px 3px 3px 3px;
  display: flex;
  flex-wrap: wrap;
  margin: 3px;
}

.row {
  display: flex;
  width: 90%;
}

.col {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px 0px 8px 0px;
}

.profile-pic-large {
  width: 145px;
  height: 140px;
  border-radius: 15%;
  margin-bottom: 10px;
}

h2 {
  margin: 10px 0;
  font-size: 1.5em;
  text-align: left;
}

p {
  font-size: 0.9em;
  color: #555;
  line-height: 1.4em;
  text-align: justify;
}

.col .blue-btn {
  position: relative;
  background-color: #007bff;
  color: white;
  border: none;
  font-size: 10pt;
  border-radius: 25px;
  cursor: pointer;
  padding: 0px 10px;
  left: 36%;
  margin-top: 5px;
}

.blue-btn:hover {
  background-color: #0056b3;
}

.password,
.registeredemail, 
.bio {
  margin-top: 40px;
}
 
.inbio {
  position: relative;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 25px 10px 25px;
  display: flex;
  flex-wrap: wrap;
  margin: 3px;
}

.inbio i {
  position: relative;
  left: 97%;
  color: #007bff;
}

.inbio i:hover {
  position: relative;
  left: 97%;
  color: #0056b3;
  cursor: pointer;
}

.navbar {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  border-top: 1px solid #ddd;
  z-index: 10;
}

.nav-item {
  flex: 1;
  text-align: center;
}

.nav-item i {
  font-size: 20px;
  color: #555; 
}

.nav-item.active i {
  color: #007bff; 
}

.nav-item i:hover {
  color: #0056b3; 
}

.saved-routes, .reviews{
  padding-bottom: 90px;
}

.input-name i:hover {
  color: #0056b3;
}

.input-name {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 10px;
  bottom: 10%;
}
  
.input-name input {
  width: 100%;
  padding: 10px 40px 10px 15px;
  border: 1px solid rgb(123, 123, 123); 
  border-radius: 15px;
  background-color: #ffffff; 
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
.input-name i {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  color: #007bff; 
  cursor: pointer;
}  

.inre {
  position: relative;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 100px 10px 25px;
  display: flex;
  margin: 3px;
  width: 80px;
}

.inre i {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  color: #007bff; 
  cursor: pointer;
}

.pink-btn {
  background-color: rgb(224, 84, 108);
  color: white;
  border: none;
  font-size: 10pt;
  border-radius: 25px;
  cursor: pointer;
  padding: 1px 10px;
  width: fit-content;
  margin-bottom: 10px;
  text-decoration:none;
}

.pink-btn:hover {
  background-color: pink;
  transition: 0.3s;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .container {
      margin: 10px;
      max-width: 520px;
  }

  .profile-pic {
  width: 55px;
  height: 50px;
  border-radius: 15%;
  }

  .profile-pic-large {
  width: 145px;
  height: 140px;
  border-radius: 15%;
  margin-bottom: 10px;
  }

  h2 {
      font-size: 1.3em;
  }

  p {
      font-size: 0.85em;
  }

  .edit-profile-btn {
      font-size: 0.8em;
      padding: 8px 16px;
  }
}
  
  
