body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background-color: #f4f4f4;
display: flex;
justify-content: center;
height: 100vh;
}

.container {
width: 100%;
max-width: 750px;
padding: 5px;
margin-bottom: 60px;
}

.header {
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 20px;
background: white;
border-radius: 10px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
padding: 10px 12px 10px 12px;
}

.navbar {
display: flex;
align-items: center;
position: fixed;
bottom: 0;
left: 0;
width: 100%;
height: 60px;
background-color: #ffffff;
box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
border-top: 1px solid #ddd;
z-index: 10;
}

.nav-item {
flex: 1;
text-align: center;
}

.nav-item i {
font-size: 20px;
color: #555; 
}

.nav-item.active i {
color: #007bff; 
}

.nav-item i:hover {
color: #0056b3; 
}

.container-wide {
  width:100vw;
  background-color: white;
  padding:15px;
  position:absolute;
  top:0;
  left:0;
  z-index: 1000;
}

.custom {
  background-color:rgb(237, 237, 237);
  border-radius: 15px;
  padding:10px;
  box-shadow: 0px 4px 6px #c3c3c3;
  width:100%;
  border:none;
}

.custom-button {
  background: none;
  border: none; 
  color: #007bff;
  padding: 0; 
  font-size: 2rem;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 92vh;
  border: none; 
  z-index: auto;
}

.custom-button-small {
  background-color: #fff;
  border: 1px solid #007bff;
  color: #007bff;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.selected {
  background-color: #007bff;
  color: #fff;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  padding: 10px;
}

.card-content {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  width: 100%;
}

.icon {
  font-size: 20px;
  color: #007bff;
  padding: 10px;
  border: 2px solid #0058b6;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.time {
  font-weight: bold;
  color: #007bff;
  font-size: 14px;
  padding: 5px 10px;
  border: 2px solid #0058b6;
  border-radius: 15px;
  text-align: center;
  background-color: #dcedff;
  margin-left: auto;
  max-height: 75px;
}

.fare {
  background-color: #ffffff;
  padding: 8px;
  border-radius: 5px;
  font-size: 14px;
  color: #c3c3c3;
}

.warning {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  color: #d9534f;
  font-weight: bold;
  text-align: center;
}

.minimize-btn {
  background:none;
  color: #007bff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.report-btn {
  position: absolute;
  left: 20px;
  bottom: 70px;
  background-color: white;
  color: #007bff;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 9999; 
}

.map-wrap{
  width:600;
  height: 450;
  border: 0;
}

.search-bar {
  position: relative;
  width: 100%;
  max-width: 740px;
  margin: 10px auto;
}
  
.search-bar input {
  width: 100%;
  padding: 10px 40px 10px 15px;
  border: 1px solid rgb(123, 123, 123); 
  border-radius: 15px;
  background-color: #ffffff; 
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
.search-bar i {
  position: absolute;
  top: 74%;
  right: 12px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #007bff; 
  cursor: pointer;
} 

.container-route{
  overflow-y: auto;
  height: 30vh;
}

.duration{
  background: #65a4e77a;
  padding: 5px 20px;
  border-radius: 20px;
  align-items: center;
}

.duration-h1 {
  margin: 1vh 0px;
  font-size: 2em;
  text-align: center;
  color: #007bff;
}

.duration-h4{
  font-size: 0.7em;
  color: #007bff;
  text-align: center;
  margin: 0px;
  margin-bottom: 1vh;
}

@media (max-width: 480px) {
  .body {
    max-width: 480px;
    width: 100vw;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .container-wide{
    width: 100vw;
    max-width: 480px;
  }

  .container {
    margin-bottom: 0px;
  }

  .navbar{
    max-width: 480px;
    width: 100vw;
    position: absolute;
  }

  .col-auto:nth-of-type(3) {
    margin-right: 0px !important;
    margin-left: 0px !important;
    margin-top: 15px;
  }

  .map-wrap {
    width:100vw;
    height: 100vh;
    max-height: 100vh;
  }

  .map-wrap iframe{
    width:100vw;
    height: 100vh;
    max-height: 100vh;
  }
}
